body{
    text-align: center;
    margin: 0 40px;
}

nav{

    background-color: rgb(217, 217, 217);
    padding: 5px;
}

main{
    display: flex;
    justify-content: space-between;
}

.box-1{
    width: 34%;
    height: 80px;
    margin: 5px 0;
    padding: 3px;
    background-color: rgb(26, 222, 222);
    justify-content: center;
    text-align: center;
}

.box-2{
    width: 19%;
    height: 80px;
    margin: 5px 0;
    padding: 3px;
    background-color: rgb(1, 197, 197);
}

.box-3{
    width: 44%;
    height: 80px;
    margin: 5px 0;
    padding: 3px;
    background-color: rgb(5, 152, 152);
}

footer{
    margin: 20px;
}